<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Devices">

    <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>
    <!-- parameters for livox lidar-->
    <xacro:property name="M_PI" value="3.14159"/>
    <xacro:property name="laser_min_range" value="0.1"/>
    <xacro:property name="laser_max_range" value="200.0"/>
    <xacro:property name="ros_topic" value="/livox/lidar"/>
    <xacro:property name="samples" value="24000"/>
    <xacro:property name="downsample" value="1"/>

    <xacro:macro name="Devices" params="connected_to *origin Livox_switch:=false D435_switch:=false">


        <!-- Device link (nuc) is fixed to the base link -->
        <joint name="device_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <!-- <origin xyz="${xyz}" rpy="${rpy}"/> -->
            <parent link="${connected_to}"/>
            <child link="drives_link"/>
        </joint>
        <!-- Device link -->
        <link name="drives_link">
            <inertial>
                <origin xyz="-0.036782040075902 6.51858217266429E-06 0.0937081873087465" rpy="0 0 0" />
                <mass value="0.99321825947853" />
                <inertia ixx="0.00178853628981206" ixy="8.5313549928E-06" ixz="3.42581828429095E-05" iyy="0.00256782454236455" iyz="-2.43145633372688E-08" izz="0.00396543865883323" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://legged_unitree_description/meshes/devices/drives_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.18 0.24 0.08"/>
                    <!-- <mesh filename="package://legged_unitree_description/meshes/devices/drives_link.STL" /> -->
                </geometry>
            </collision>
        </link>
        <!-- ######################################################### mid360 link ######################################################### -->
        <link name="mid360_link">
            <inertial>
                <origin xyz="-0.000158629482034794 -5.04849969514286E-06 -0.00809851884607402" rpy="0 0 0" />
                <mass value="0.178510159405843" />
                <inertia ixx="8.89481570234861E-05" ixy="-5.50381040134603E-09" ixz="3.05321623164747E-07" iyy="7.89981242484952E-05" iyz="-4.46718173458013E-10" izz="0.000146362767567367" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://legged_unitree_description/meshes/devices/mid360_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <!-- <mesh filename="package://legged_unitree_description/meshes/devices/mid360_link.STL" /> -->
                </geometry>
            </collision>
        </link>
        <joint name="mid360_joint" type="fixed">
            <origin xyz="0.067374 0 0.14292" rpy="0 0 0" />
            <parent link="drives_link" />
            <child link="mid360_link" />
            <axis xyz="0 0 0" />
        </joint>

        <xacro:macro name="Livox_Mid_gazebo_sensor" params="visualize:=True update_rate:=10 resolution:=0.002 noise_mean:=0.0 noise_stddev:=0.01 name:=livox">
            <gazebo reference="mid360_link">
                <sensor type="ray" name="laser_${name}">
                    <pose>0 0 0 0 0 0</pose>
                    <visualize>${visualize}</visualize>
                    <update_rate>${update_rate}</update_rate>
                    <!-- This ray plgin is only for visualization. -->
                    <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
                        <ray>
                            <scan>
                                <horizontal>
                                    <samples>100</samples>
                                    <resolution>1</resolution>
                                    <min_angle>${0}</min_angle>
                                    <max_angle>${2*M_PI}</max_angle>
                                </horizontal>
                                <vertical>
                                    <samples>360</samples>
                                    <resolution>1</resolution>
                                    <min_angle>${-7.22/180*M_PI}</min_angle>
                                    <max_angle>${55.22/180*M_PI}</max_angle>
                                </vertical>
                            </scan>
                            <range>
                                <min>${laser_min_range}</min>
                                <max>${laser_max_range}</max>
                                <resolution>${resolution}</resolution>
                            </range>
                            <noise>
                                <type>gaussian</type>
                                <mean>${noise_mean}</mean>
                                <stddev>${noise_stddev}</stddev>
                            </noise>
                        </ray>
                        <visualize>${visualize}</visualize>
                        <samples>${samples}</samples>
                        <downsample>${downsample}</downsample>
                        <csv_file_name>package://livox_laser_simulation/scan_mode/mid360.csv</csv_file_name>
                        <ros_topic>${ros_topic}</ros_topic>
                    </plugin>
                </sensor>
            </gazebo>
        </xacro:macro>


        <xacro:if value="${Livox_switch == True}">
            <xacro:Livox_Mid_gazebo_sensor name="livox" visualize="true"/>
        </xacro:if>
        


        <!-- ######################################################### realsense d435 ######################################################### -->
        <link name="cam_bracker_link">
            <inertial>
                <origin xyz="-0.00339363741672191 -0.00476836423898939 9.34511120102288E-05" rpy="0 0 0" />
                <mass value="0.0588181987887699" />
                <inertia ixx="3.57530379040987E-05" ixy="-2.76277021021485E-22" ixz="1.793679610271E-06" iyy="1.22555949704502E-05" iyz="5.34028869594863E-20" izz="3.92419691077061E-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://legged_unitree_description/meshes/devices/cam_bracker_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="1 1 1 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <!-- <mesh filename="package://legged_unitree_description/meshes/devices/cam_bracker_link.STL" /> -->
                </geometry>
            </collision>
        </link>
        <joint name="cam_bracker_joint" type="fixed">
            <origin xyz="0.20273 0.0023793 0.067669" rpy="0 0.23409 0" />
            <parent link="drives_link" />
            <child link="cam_bracker_link" />
            <axis xyz="0 0 0" />
        </joint>
        <xacro:if value="${D435_switch == True}">
            <xacro:realsense_d435 sensor_name="d435" parent_link="cam_bracker_link" rate="20">
                <origin rpy="0 0 0 " xyz="0 0 0"/>
            </xacro:realsense_d435>
        </xacro:if>
    </xacro:macro>
</robot>
