<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:arg name="robot_type" default="a1"/>
    <xacro:arg name="Livox_switch" default="false"/>
    <xacro:arg name="D435_switch" default="false"/>
    <xacro:arg name="Devices_switch" default="false"/>
    <xacro:arg name="Laser_switch" default="false"/>
    <xacro:property name="Livox_switch_flag" value="$(arg Livox_switch)"/>
    <xacro:property name="D435_switch_flag" value="$(arg D435_switch)"/>
    <xacro:property name="Devices_switch_flag" value="$(arg Devices_switch)"/>
    <xacro:property name="Laser_switch_flag" value="$(arg Laser_switch)"/>



    <xacro:include filename="$(find legged_unitree_description)/urdf/common/materials.xacro"/>
    <xacro:include filename="$(find legged_unitree_description)/urdf/common/leg.xacro"/>
    <xacro:include filename="$(find legged_unitree_description)/urdf/common/gazebo.xacro"/>
    <xacro:include filename="$(find legged_unitree_description)/urdf/common/imu.xacro"/>

    <xacro:include filename="$(find legged_unitree_description)/urdf/common/devices.xacro"/>

    <xacro:include filename="$(find legged_unitree_description)/urdf/$(arg robot_type)/const.xacro"/>

    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://legged_unitree_description/meshes/$(arg robot_type)/trunk.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
            <mass value="${trunk_mass}"/>
            <inertia
                    ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                    iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                    izz="${trunk_izz}"/>
        </inertial>
    </link>

    <xacro:if value="${Laser_switch_flag == True}">
        <joint name="hokuyo_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.105"/>
            <parent link="base"/>
            <child link="hokuyo_frame"/>
        </joint>
        <link name="hokuyo_frame">
            <inertial>
                <mass value="0.270"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="2.632e-4" ixy="0" ixz="0" iyy="2.632e-4" iyz="0" izz="1.62e-4"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://hector_sensors_description/meshes/hokuyo_utm30lx/hokuyo_utm_30lx.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 -0.0115"/>
                <geometry>
                    <box size="0.058 0.058 0.087"/>
                    <!--<mesh filename="package://hector_sensors_description/meshes/hokuyo_utm30lx/hokuyo_utm_30lx.stl"/>-->
                </geometry>
            </collision>
        </link>
        <gazebo reference="hokuyo_frame">
            <sensor name="hokuyo" type="ray">
                <always_on>true</always_on>
                <update_rate>30</update_rate>
                <pose>0 0 0 0 0 0</pose>
                <visualize>false</visualize>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>1040</samples>
                            <resolution>1</resolution>
                            <min_angle>2.26892802759</min_angle>
                            <max_angle>-2.26892802759</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.2</min>
                        <max>30.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.004</stddev>
                    </noise>
                </ray>
                <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_hokuyo_controller">
                    <topicName>scan</topicName>
                    <frameName>hokuyo_frame</frameName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:if>

    <xacro:if value="${Devices_switch_flag == True}">
        <xacro:Devices connected_to="base" Livox_switch="${Livox_switch_flag}" D435_switch="${D435_switch_flag}">
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </xacro:Devices>
    </xacro:if>

    <xacro:IMU connected_to="base" imu_name="unitree_imu" xyz="0. 0. 0." rpy="0. 0. 0."/>

    <xacro:leg prefix="RF" mirror="-1" mirror_dae="False" front_hind="1" front_hind_dae="True">
        <origin rpy="0 0 0" xyz="${leg_offset_x} ${-leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="LF" mirror="1" mirror_dae="True" front_hind="1" front_hind_dae="True">
        <origin rpy="0 0 0" xyz="${leg_offset_x} ${leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="RH" mirror="-1" mirror_dae="False" front_hind="-1" front_hind_dae="False">
        <origin rpy="0 0 0" xyz="${-leg_offset_x} ${-leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="LH" mirror="1" mirror_dae="True" front_hind="-1" front_hind_dae="False">
        <origin rpy="0 0 0" xyz="${-leg_offset_x} ${leg_offset_y} 0"/>
    </xacro:leg>

</robot>
